[gcode_macro PRINT_END]
gcode:
  G4; Esperar
  G92 E0; Preparar para retraer
  G1 E-0.5 F3000; Retraer para evitar hilos

; Ondulación del extremo antihilos
  G91; Usar coordenadas relativas
  G1 X1 Y1 F1200

; Elevar la boquilla y presentar la base
  G1 Z10.0 F3000 ; Move print head up
  G90; Usar coordenadas absolutas
  G1 Y290 F3000; Preparar para la extracción de piezas

; Restablecer las anulaciones de la configuración de impresión
  M220 S100; Restablecer el factor de velocidad al 100 %
  M221 S100; Restablecer la tasa de extrusión al 100 %

; Apagar la impresora
  M106 S0; Apagar ventilador
  M104 S0; Apagar hotend
  M140 S0; Apagar cama
  M84; Desactivar motores
  SET_LED LED=extruder RED=0.078 GREEN=0.568 BLUE=1