[include mainsail.cfg]
############################################################################################################################################
#                                                                                                                                          #
#                                                                    NOTE:                                                                 #
#   I used the printer.cfg created by "freakydude" from the Klipper gethub page as a starting point and edited it for this application.    #
#                                                          You can find the origional here;                                                #
#                     https://github.com/Klipper3d/klipper/blob/master/config/printer-artillery-sidewinder-x2-2022.cfg                     #
############################################################################################################################################ 

# This file contains pin mappings for the Artillery Sidewinder X2 (2022) with a Artillery_Ruby-v1.2 board.
# To use this config, during "make menuconfig"

#                         Klipper Firmware Configuration
#[*] Enable extra low-level configuration options
#    Micro-controller Architecture (STMicroelectronics STM32)  --->
#    Processor model (STM32F401)  --->
#    Bootloader offset (No bootloader)  --->
#    Clock Reference (8 MHz crystal)  --->
#    Communication interface (USB (on PA11/PA12))  --->
#    USB ids  --->
#()  GPIO pins to set at micro-controller startup

#############################
# PRINTER SETTINGS
#############################

[exclude_object]

#[include KAMP_Settings.cfg] ; ##### (UNCOMMENT IF USING KAMP)
[include start.cfg]
[include end.cfg]
[include macros.cfg]
[include shell_command.cfg]

[pause_resume]

[display_status]

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes ; Path may be different for your install, your web interface will give you and error for the expected path, copy and paste expected path here
on_error_gcode: CANCEL_PRINT

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f401xc_150049000851313137383035-if00

[mcu host]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: cartesian
max_velocity: 150
max_accel: 1500
max_z_velocity: 5
max_z_accel: 400
square_corner_velocity: 5.0

[filament_switch_sensor filament]
pause_on_runout: True # Starts the PAUSE g-code script if filament runs out
runout_gcode: M117 Filament runout # Optional
insert_gcode: M117 Filament insert # Optional
switch_pin: PA0 # the z-endstop pin

#############################
# INPUT SHAPER
#############################

[input_shaper]

shaper_freq_x: 37.71
shaper_freq_y: 29.39
shaper_type: mzv

#############################
# MOTION AXES
#############################

[stepper_x]
step_pin: !PB14
dir_pin: PB13
enable_pin: !PB15
microsteps: 16
rotation_distance: 39.54
endstop_pin: !PA2
position_endstop: 0
position_max: 300
homing_speed: 100
second_homing_speed: 125

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB12
microsteps: 16
rotation_distance: 39.54
endstop_pin: !PA1
position_endstop: 0
position_max: 300
homing_speed: 125
second_homing_speed: 10

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 7.99
endstop_pin: probe:z_virtual_endstop
position_max: 400
position_min: -5
homing_speed: 25
second_homing_speed: 10

[extruder]
step_pin: PA7
dir_pin: PA6
enable_pin: !PC4
microsteps: 16
rotation_distance: 23
gear_ratio: 66:22
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 1000
max_extrude_cross_section: 5
#pressure_advance: 0.068

#############################
# THERMAL SETTINGS
#############################

[extruder]
heater_pin: PC9
#sensor_type: Generic 3950 ; Common sensor for all metal solution, always reffer to your sensors documentation and the Klipper config refference to ensure correct deffinition
sensor_type: EPCOS 100K B57560G104F ; Stock sensor
sensor_pin: PC0
control: pid
pid_kp: 44.282
pid_ki: 8.200
pid_kd: 59.780
min_temp: 0
max_temp: 300

[heater_bed]
heater_pin: PA8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
control: pid
pid_kp: 49.865
pid_ki: 0.936
pid_kd: 663.828
min_temp: 0
max_temp: 130

[fan]
pin: PC8
off_below: 0.1

[heater_fan extruder]
pin: PC7
off_below: 0.2

[controller_fan case]
pin: PC6
off_below: 0.3
idle_speed: 0.1

[temperature_sensor mainboard]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 70

[temperature_fan BTT_PI]
pin: host:gpio211
kick_start_time: 0.8
#shutdown_speed: 0
off_below: 0.3
max_power: 1.0
#fan_speed: 0.6
sensor_type: temperature_host
control: pid
min_temp: 0
max_temp: 85
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.1
max_speed: 0.6
target_temp: 38

#############################
# LEVELING
#############################

[safe_z_home]
home_xy_position: 122.75,162.8
z_hop: 10
speed: 125

[bltouch]
sensor_pin: PC2
control_pin: PC3
x_offset: 27.25
y_offset: -12.8
z_offset: 2.0
speed: 10
samples: 2
sample_retract_dist: 8
samples_tolerance: 0.050
samples_tolerance_retries: 3

[bed_mesh]
speed: 150
horizontal_move_z: 10
mesh_min: 30, 15
mesh_max: 270, 285
probe_count: 5
fade_start: 1
fade_end: 10
fade_target: 0
mesh_pps: 2
algorithm: bicubic

[bed_screws]
screw1: 50,50
screw1_name: front left
screw2: 250,50
screw2_name: front right
screw3: 250,250
screw3_name: back right
screw4: 50,250
screw4_name: back left
speed: 125

[screws_tilt_adjust]
screw1: 22.75,62.8
screw1_name: front left
screw2: 222.75,62.8
screw2_name: front right
screw3: 222.75,262.8
screw3_name: back right
screw4: 22.75,262.8
screw4_name: back left
speed: 125
screw_thread: CW-M5

#############################
# LEDS
#############################

[neopixel extruder]
pin: PB7
initial_RED: 1.0
initial_GREEN: 0
initial_BLUE: 0

[delayed_gcode Welcome_0]
initial_duration: 0
gcode:
  SET_LED LED=extruder RED=1 GREEN=0 BLUE=0

[delayed_gcode Welcome_1]
initial_duration: 0.5
gcode:
  SET_LED LED=extruder RED=0 GREEN=1 BLUE=0

[delayed_gcode Welcome_2]
initial_duration: 1
gcode:
  SET_LED LED=extruder RED=0 GREEN=0 BLUE=1

[delayed_gcode Welcome_3]
initial_duration: 1.5
gcode:
  SET_LED LED=extruder RED=1 GREEN=1 BLUE=1

[delayed_gcode Welcome_4]
initial_duration: 8
gcode:
  SET_LED LED=extruder RED=0.078 GREEN=0.568 BLUE=1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh]
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 265.0
#*# min_y = 30.009999999999998
#*# max_y = 269.99
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_type_y = mzv
#*#
#*# [bltouch]
#*# z_offset = 1.693
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 50.707
#*# pid_ki = 1.162
#*# pid_kd = 553.340
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 48.473
#*# pid_ki = 9.792
#*# pid_kd = 59.985
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.143570, 0.027466, 0.093633, 0.111111, 0.117353
#*# 	0.036205, 0.003745, 0.038702, 0.034956, 0.073658
#*# 	0.041198, -0.021223, 0.033708, 0.058677, 0.073658
#*# 	-0.042447, -0.034956, 0.031211, 0.024969, 0.023720
#*# 	-0.007491, -0.019975, 0.003745, 0.007491, -0.029963
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 270.0
#*# min_y = 15.0
#*# max_y = 285.0


